<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>

</head>
<body>

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">

    <div>

        <table  class="table"  style="display:block;margin:10px 15px 30px 150px;">
            <thead class="thead">
            <tr>
                <th>Resource</th>
                <th>Secured</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#" th:href="@{/info}" class="btn btn-large btn-success"
                       style="display:inline-block;vertical-align:baseline;margin:10px 15px 30px 15px;float:left">Info</a>
                </td>
                <td>
                    <p style="display:inline-block;vertical-align:baseline;margin:10px 15px 30px 15px;float:left">Public</p>
            </tr>
            <tr>
                <td>
                    <a href="#" th:href="@{/admin}" class="btn btn-large btn-success"
                       style="display:inline-block;vertical-align:baseline;margin:10px 15px 30px 15px;float:left">Admin Panel</a>
                </td>
                <td>
                    <p style="display:inline-block;vertical-align:baseline;margin:10px 15px 30px 15px;float:left">Sign in Required</p>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</th:block>
<th:block layout:fragment="footer" ><p class="footer_txt">nsavagejvn@2017</p></th:block>
</body>
</html>
